@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* font-family: Beryozki, sans-serif; */
    /* font-family: Haymaker, sans-serif; */
    font-family: sans-serif;
  }
}

@layer components {
  .logo-cont {
    @apply flex text-6xl text-center uppercase font-medium text-gray-800;
  }
  .menu {
    @apply flex relative items-start flex-col lg:flex-row lg:justify-center z-50;
  }
  .menu__button {
    @apply lg:hidden fixed top-3 left-3 font-semibold bg-gray-700 hover:bg-gray-800 text-white uppercase text-sm px-4 py-2 rounded-lg;
  }
  .menu__item-cont {
    @apply hidden absolute lg:static bg-white lg:flex lg:bg-gray-200 lg:shadow-none float-left py-2 lg:py-0 text-left text-gray-800 font-semibold uppercase rounded-lg shadow-md;
  }
  .menu__item {
    @apply py-2 px-4 block whitespace-nowrap bg-transparent rounded-lg hover:bg-gray-300;
  }
}

.cart-icon {
  background-image: url(cart.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@font-face {
  font-family: 'Haymaker';
  src: url('Haymaker.woff2') format('woff2'),
    url('Haymaker.woff') format('woff');
  /* font-weight: bolder; */
  font-style: normal;
  /* letter-spacing: 0.1em; */
  /* ascent-override: 90%; */
  font-display: swap;
}